@font-face {
    src: url("EF_jejudoldam(윈도우용_TTF).ttf");
    font-family: "jeju";
}

@font-face {
    src: url("ONE Mobile POP.ttf");
    font-family: "OMP";
}

@font-face {
    src: url("Happiness-Sans-Bold.ttf");
    font-family: "Happy";
}
@font-face{
    src:url("DNFBitBitTTF.ttf") ;
    font-family:'bitbit';
  }